{% extends "base.html" %}

{% block content %}
    
<div class="content mt-20 text-center">
<h2> Log in  </h2>
    <form 
    hx-post="{% url 'account_login' %}"
    hx-target= "#authentication">
        {% csrf_token %}
        {{ form }}
        <button type="submit" class='btn mt-5'> log in </button>
    </form>
    <span 
    hx-get="{% url 'account_signup' %}" 
    hx-target="#authentication"
    hx-trigger="click"
    class= "hyperlink-underline"
    >
    Need to Signup?
    </span>
</div>


  {% endblock %}