{% extends "base.html" %}

{% block content %}
<div class="content mt-20 text-center">

    <h2> Sign up to start your list </h2>
    <form
    hx-post="{% url 'account_signup' %}"
    hx-target= "#authentication"
    >
        <!-- no longer needed {% csrf_token %} -->
        {{ form }}
        <button type="submit" 
        class='btn mt-5'> Sign Up </button>
    </form>

    <span 
    hx-get="{% url 'account_login' %}" 
    hx-target="#authentication"
    hx-trigger="click"
    class= "hyperlink-underline"
    >
    Need to Login?
    </span>
   

</div>  
{% endblock %}