
<div class="d-flex align-items-center justify-content-center mt-20">
  <div class= "content text-center">
    <h1 class="text-primary" style="font-size:50px;"> Trackit: To do App </h1> 
    <p> Keep track of what needs to be done! </p>
      
    {% if not user.is_authenticated %}
    <p> To start, please make an 
    <span 
    hx-get="{% url 'account_signup' %}" 
    hx-target="#authentication"
    hx-trigger="click"
    class= "hyperlink-underline"
    >
    account
    </span>.
    {% endif %}
        
    </div>
</div>