<div class="card w-600 mw-full mx-auto" 
id="tasks"  
hx-swap= "outerHTML"
hx-target = "#tasks"
>
<h3 class="card-title"> Your tasks </h3>
<ul> 
{% for task in tasks %}
{% if task.done %} 
    <div class="custom-checkbox">
        <input 
        type="checkbox" 
        id="checkbox-done-{{task.id}}" 
        value="" 
        checked="checked" 
        hx-post= "{% url 'complete' task.id %}"
        hx-trigger= "click"
        >
        <label for="checkbox-done-{{task.id}}"><del> {{ task.name }} </del> </label>
         
    </div>
{% else %} 
    <div class="custom-checkbox">
        <input 
        type="checkbox" 
        id="checkbox-notdone-{{task.id}}" 
        value="" 
        hx-post= "{% url 'complete' task.id %}"
        hx-trigger= "click"
        >
        <label for="checkbox-notdone-{{task.id}}">{{ task.name }}  </label>
      
    </div>
{% endif %} 

{% empty %}
<li> No items on your list yet </li>
{% endfor %}
{% if errors %} {{errors}} {% endif %}
    <form 
    hx-post="{% url 'home' %}"
    >
        {{ form }}
        <button type="submit"> Add </button>
    </form>


</ul>
</div>